:root{
    --border: 1px solid rgb(213, 213, 202);
    background-color: #000119;
}

section{
    display: flex;
    justify-content: space-evenly;
    }
    .container{
        display:flex;
        width:480px;
        height: 480px;
        flex-wrap: wrap;
        border: var(--border);
        overflow: hidden;
    }
    
    .cells16{
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: var(--border);
    }
    
    .cells8{
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: var(--border);
    }

    h1 {
        background-clip: text;
        background-image: linear-gradient(to right,
                #09f1b8,
                #00a2ff,
                #ff00d2,
                #fed90f);
        font-size: 5rem;
        letter-spacing: calc(1em / 8);
        -webkit-text-stroke-color: transparent;
        -webkit-text-stroke-width: calc(1em / 16);
        text-align: center;
    }
    
  