:root{
    --border: 1px solid rgb(213, 213, 202);
    background-color: #000119;
}

section{
    display: flex;
    justify-content: space-evenly;
    }
    .container{
        display:flex;
        width:480px;
        height: 480px;
        flex-wrap: wrap;
        border: var(--border);
        overflow: hidden;
    }
    
    .cells16{
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: var(--border);
    }
    
    .cells8{
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: var(--border);
    }

    h1 {
        background-clip: text;
        background-image: linear-gradient(to right,
                #09f1b8,
                #00a2ff,
                #ff00d2,
                #fed90f);
        font-size: 5rem;
        letter-spacing: calc(1em / 8);
        -webkit-text-stroke-color: transparent;
        -webkit-text-stroke-width: calc(1em / 16);
        text-align: center;
    }
    
    button {
        border-radius: 0px 30px 0px 30px;
        color: #f6f1dd;
        background: #9d0497;
        cursor: pointer;
        position: relative;
        z-index: 0;
        height: 50px;
    }
    
    button:before{
        content: "";
        background: linear-gradient(45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff);
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: 30s; 
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    
    }
    button:active:after {
        background: transparent;
    }
    
    button:hover:before {
        opacity: 1;
    }